:root {
  --color-1: #eae7dc;
  --color-2: #d8c3a5;
  --color-3: #8e8d8a;
  --color-4: #e98074;
  --color-5: #e85a4f;
  --color-6: #a59a33;
  --color-info: #0288d1;
  --Dark-500: #101316;
  --Gray-500: #a5a9ac;
  --Gray-200: rgba(165, 169, 172, 0.2);
  --white-500: #ffffff;
  --color-border: #a59a331f;
}
