* {
  box-sizing: border-box;
  font-family: "iransans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
}
:root {
  --color-1: #eae7dc;
  --color-2: #d8c3a5;
  --color-3: #8e8d8a;
  --color-4: #e98074;
  --color-5: #e85a4f;
  --Dark-500: #101316;
  --Gray-500: #a5a9ac;
  --Gray-200: #a5a9ac33;
  --white-500: #ffffff;
}
/***Profile Tabs**********************************************************************************************************************/
.profile-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/***End Of Profile Tabs***************************************************************************************************************/

/***Custome Container*****************************************************************************************************************/
@media (max-width: 600px) {
  .container-custome {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (min-width: 600px) {
  .container-custome {
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
}
@media (min-width: 900px) {
  .container-custome {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (min-width: 1200px) {
  .container-custome {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (min-width: 1400px) {
  .container-custome {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
/***End Of Custome Container**********************************************************************************************************/
.contentCardParent {
  border: 2px solid var(--color-2);
  border-radius: 8px;
  background-color: var(--white-500);
}

.titleClass {
  color: var(--color-3) !important;
  font-weight: 500;
}
.iconClassNameTitle {
  width: 30px;
  height: 30px;
}
