body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: B_nazanin;
  src: url(../fonts/B_NAZANIN/B-NAZANIN.TTF);
}

@font-face {
  font-family: Byekan;
  src: url(../fonts/Byekan.ttf);
  src: url(../fonts/Byekan.woff);

}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWeb.ttf);

}