#card_container{
    margin-bottom: 15px;
    border-radius: 10px;
}

#card_container a{
    text-decoration: none;
    color: black;
}


#imag{
    background-image: url("../../images/nfs-heat-car-4k-f7.jpg");
    background-size: cover;
}

#card_d{
    background-color: #ecc8d4;
    border-radius: 10px;
    box-shadow: 0px 0px 17px rgb(58, 58, 58);
    transition-duration: 0.3s;
    overflow: hidden;
}

#card_d:hover{

    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition-duration: 0.3s;
}


#card_d h2{
    font-family: iransans;
    font-size: 28px;
    font-weight: bold;
}

#edit{

    display: flex;
    justify-content: end;
}

#edit .edit_tag{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 26px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(79, 79, 79);
    transition-duration: 0.4s;
    margin-right: 7px;
    margin-top: 5px;
}


#edit .edit_tag:hover{
    box-shadow: 0px 0px 5px rgb(79, 79, 79);
    background-color: #B6013C;
    color: white;
    transition-duration: 0.4;
}


#edit .edit_tag i{
    position: relative;
    top: 10px;
    left: 2px;
}

#info{
    padding: 10px 10px 5px 10px;
}

#price{
    height: 30px;
    overflow: hidden;
    font-family: iransans;
    font-size: 17px;
    margin-bottom: 5px;
    
}

#price span{
    font-size: 17px;
    font-weight: bold;
    font-family: iransans;
    position: relative;
    top: 2px;
}

#description{
    font-family: iransans;
    font-size: 14px;
    max-height: 62px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin-bottom: 0px;
}

#description::-webkit-scrollbar {
    display: none;
  }

#info button{
    font-family: iransans;
    font-size: 11px;
    margin-left: 8px;
    padding: 3px 12px;
    background-color: #B6013C;
    color: white;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin-top: 5px;
}

#info button:hover{
    box-shadow: 2px 2px 5px #B6013C;
    transition-duration: 0.2s;
}

#reaction{
    font-family: iransans;
    font-size: 14px;
    margin: 12px 0px 0px 0px;
    font-weight: bold;
    height: 25px;
}

#reaction p{
    color: #b23d64;
    font-weight: bold;
    display: inline;
}
